Node-red flows.json
[{"id":"a7eda465.22fea8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"d612683c.a935a8","type":"tab","label":"IOT-UI","disabled":false,"info":""},{"id":"b5696ec6.fa4bd","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"2d8ae115.325dde","type":"subflow","name":"Subflow 1","info":"","category":"","in":[{"x":50,"y":30,"wires":[{"id":"a1d4bb91.3427c8"}]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"58955992.c4b4b8","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"c59cf154.d5f18","type":"ui_tab","z":"","name":"Agriculture","icon":"dashboard","disabled":false,"hidden":false},{"id":"49140ad1.8d6424","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0a191f","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#37c1c8","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":true},"page-titlebar-backgroundColor":{"value":"#0a191f","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#1d4859","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0a191f","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Agriculture","hideToolbar":"false","allowSwipe":"true","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"73f56239.d1cf4c","type":"ui_group","z":"","name":"Motor Command","tab":"c59cf154.d5f18","order":2,"disp":true,"width":"6","collapse":false},{"id":"41d5d7b2.562ed8","type":"ui_group","z":"","name":"Smart Agriculture","tab":"c59cf154.d5f18","order":3,"disp":true,"width":"6","collapse":false},{"id":"257c1f58.6c892","type":"ui_group","z":"","name":"Smart Agriculture Soil Moisture","tab":"c59cf154.d5f18","order":4,"disp":true,"width":"6","collapse":false},{"id":"d2157569.0c25e8","type":"ui_group","z":"","name":"Coord","tab":"47447a90.30e574","order":4,"disp":true,"width":"6","collapse":false},{"id":"be9d138f.efe75","type":"ui_group","z":"","name":"Wind","tab":"3bf915b.5d362ea","order":6,"disp":true,"width":"6","collapse":false},{"id":"3bf915b.5d362ea","type":"ui_tab","z":"","name":"Weather Data","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"25a4bd5f.9c4ec2","type":"ui_spacer","name":"spacer","group":"be9d138f.efe75","order":1,"width":"0","height":"0"},{"id":"e1b429fc.3efcc8","type":"ui_group","z":"","name":"Smart Agriculture Temperature","tab":"c59cf154.d5f18","order":5,"disp":true,"width":"6","collapse":false},{"id":"47447a90.30e574","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"d9597104.59ede","type":"ui_group","z":"","name":"Main","tab":"47447a90.30e574","order":2,"disp":true,"width":"6","collapse":false},{"id":"c12d601c.81198","type":"ibmiot in","z":"d612683c.a935a8","authentication":"apiKey","apiKey":"58955992.c4b4b8","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"Arduino","applicationId":"","deviceType":"IOTDevice","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":150,"y":180,"wires":[["d1c2028e.f180a","141b8640.95cf8a","5562e917.592fd8","3018f45c.3510cc"]]},{"id":"d1c2028e.f180a","type":"debug","z":"d612683c.a935a8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":850,"y":140,"wires":[]},{"id":"29f5ad7c.85db02","type":"ui_gauge","z":"d612683c.a935a8","name":"","group":"41d5d7b2.562ed8","order":0,"width":"6","height":"3","gtype":"gage","title":"Temperature","label":"Degree C","format":"{{value}}","min":0,"max":"100","colors":["#019801","#e6e600","#ca3838"],"seg1":"","seg2":"","x":750,"y":260,"wires":[]},{"id":"5db0c42a.72c16c","type":"ui_gauge","z":"d612683c.a935a8","name":"","group":"41d5d7b2.562ed8","order":1,"width":"6","height":"3","gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#2318c9"],"seg1":"","seg2":"","x":600,"y":180,"wires":[]},{"id":"7c1d55e0.c10c0c","type":"ui_gauge","z":"d612683c.a935a8","name":"","group":"41d5d7b2.562ed8","order":2,"width":"6","height":"3","gtype":"gage","title":"Soil Moisture","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#440808"],"seg1":"","seg2":"","x":670,"y":340,"wires":[]},{"id":"b9467ed6.90c22","type":"debug","z":"a7eda465.22fea8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":890,"y":20,"wires":[]},{"id":"20bc4d76.786232","type":"inject","z":"a7eda465.22fea8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":80,"wires":[["510ca434.ec956c"]]},{"id":"510ca434.ec956c","type":"http request","z":"a7eda465.22fea8","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"api.openweathermap.org/data/2.5/weather?q=Kharagpur, IN&appid=0a23ba65d7e5fdec4e0e696d681b1351","tls":"","persist":false,"proxy":"","authType":"","x":310,"y":80,"wires":[["b304bf3.5dea24","d28bb5a3.e9e888","b9467ed6.90c22","42aed636.260fe8","4f9d0e12.597e4","1e62cd23.710523","b3881395.9187b","26c98e4a.c20ea2"]]},{"id":"4f9d0e12.597e4","type":"function","z":"a7eda465.22fea8","name":"coord_lat","func":"msg.payload=msg.payload.coord.lat;\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":100,"wires":[["561a7b85.2847c4","b9467ed6.90c22"]]},{"id":"561a7b85.2847c4","type":"ui_text","z":"a7eda465.22fea8","group":"d2157569.0c25e8","order":0,"width":0,"height":0,"name":"","label":"lat","format":"{{msg.payload}}","layout":"row-spread","x":690,"y":120,"wires":[]},{"id":"42aed636.260fe8","type":"function","z":"a7eda465.22fea8","name":"coord_lon","func":"msg.payload=msg.payload.coord.lon;\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":60,"wires":[["7d04915a.6a9ca","b9467ed6.90c22"]]},{"id":"7d04915a.6a9ca","type":"ui_text","z":"a7eda465.22fea8","group":"d2157569.0c25e8","order":2,"width":0,"height":0,"name":"","label":"lon","format":"{{msg.payload}}","layout":"row-spread","x":690,"y":20,"wires":[]},{"id":"b304bf3.5dea24","type":"function","z":"a7eda465.22fea8","name":"wind_deg","func":"msg.payload=msg.payload.wind.deg;\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":140,"wires":[["b9467ed6.90c22","a0438521.c170e8"]]},{"id":"a0438521.c170e8","type":"ui_chart","z":"a7eda465.22fea8","name":"","group":"be9d138f.efe75","order":1,"width":"5","height":"5","label":"Degree","chartType":"bar","legend":"false","xformat":"Y-M-D","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"250","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":"200","useOneColor":false,"useUTC":false,"colors":["#154466","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":860,"y":120,"wires":[[]]},{"id":"d28bb5a3.e9e888","type":"function","z":"a7eda465.22fea8","name":"wind_speed","func":"msg.payload=msg.payload.wind.speed;\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":180,"wires":[["37f2e54b.745cea","b9467ed6.90c22"]]},{"id":"37f2e54b.745cea","type":"ui_text","z":"a7eda465.22fea8","group":"be9d138f.efe75","order":1,"width":0,"height":0,"name":"","label":"Speed(m/s)","format":"{{msg.payload}}","layout":"row-spread","x":690,"y":160,"wires":[],"info":"m/s"},{"id":"a1d4bb91.3427c8","type":"http request","z":"2d8ae115.325dde","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"api.openweathermap.org/data/2.5/weather?q=Kharagpur, IN&appid=0a23ba65d7e5fdec4e0e696d681b1351","tls":"","persist":false,"proxy":"","authType":"","x":360,"y":120,"wires":[["80de9215.6e389"]]},{"id":"80de9215.6e389","type":"debug","z":"2d8ae115.325dde","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":580,"y":140,"wires":[]},{"id":"939aed84.6e9f8","type":"ibmiot out","z":"d612683c.a935a8","authentication":"apiKey","apiKey":"58955992.c4b4b8","outputType":"cmd","deviceId":"Node","deviceType":"smartdevice","eventCommandType":"c","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":700,"y":420,"wires":[]},{"id":"ed7bf169.94811","type":"ui_button","z":"d612683c.a935a8","name":"","group":"73f56239.d1cf4c","order":0,"width":0,"height":0,"passthru":false,"label":"motor off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"c\":\"motoroff\"}","payloadType":"json","topic":"","x":360,"y":420,"wires":[["939aed84.6e9f8","d1c2028e.f180a"]]},{"id":"a71c8f42.dfd54","type":"ui_button","z":"d612683c.a935a8","name":"","group":"73f56239.d1cf4c","order":1,"width":0,"height":0,"passthru":false,"label":"motor on","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"c\":\"motoron\"}","payloadType":"json","topic":"","x":370,"y":480,"wires":[["939aed84.6e9f8","d1c2028e.f180a"]]},{"id":"141b8640.95cf8a","type":"function","z":"d612683c.a935a8","name":"temperature","func":"msg.payload=msg.payload.d.temperature;\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":240,"wires":[["d1c2028e.f180a","29f5ad7c.85db02"]]},{"id":"5562e917.592fd8","type":"function","z":"d612683c.a935a8","name":"humidity","func":"msg.payload=msg.payload.d.humidity;\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":280,"wires":[["d1c2028e.f180a","5db0c42a.72c16c"]]},{"id":"3018f45c.3510cc","type":"function","z":"d612683c.a935a8","name":"soilmoisture","func":"msg.payload=msg.payload.d.objectTemp;\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":340,"wires":[["7c1d55e0.c10c0c","d1c2028e.f180a"]]},{"id":"3829b444.2383dc","type":"ui_text","z":"a7eda465.22fea8","group":"be9d138f.efe75","order":3,"width":0,"height":0,"name":"","label":"Pressure(mm-Hg)","format":"{{msg.payload}}","layout":"row-spread","x":900,"y":220,"wires":[]},{"id":"1e62cd23.710523","type":"function","z":"a7eda465.22fea8","name":"pressure","func":"msg.payload=msg.payload.main.pressure;\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":220,"wires":[["3829b444.2383dc","b9467ed6.90c22"]]},{"id":"b3881395.9187b","type":"function","z":"a7eda465.22fea8","name":"sea level","func":"msg.payload=msg.payload.main.sea_level;\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":260,"wires":[["3978463f.e58e0a","b9467ed6.90c22"]]},{"id":"26c98e4a.c20ea2","type":"function","z":"a7eda465.22fea8","name":"ground level","func":"msg.payload=msg.payload.main.grnd_level;\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":300,"wires":[["d766e91e.8b47d8","b9467ed6.90c22"]]},{"id":"3978463f.e58e0a","type":"ui_text","z":"a7eda465.22fea8","group":"d9597104.59ede","order":2,"width":0,"height":0,"name":"","label":"Sea Level","format":"{{msg.payload}}","layout":"row-spread","x":900,"y":260,"wires":[]},{"id":"d766e91e.8b47d8","type":"ui_text","z":"a7eda465.22fea8","group":"d9597104.59ede","order":3,"width":0,"height":0,"name":"","label":"Ground Level","format":"{{msg.payload}}","layout":"row-spread","x":820,"y":300,"wires":[]}]